<mat-card>
    <mat-card-header>
      <mat-card-title>Editar Aluno</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form>
        <mat-form-field appearance="fill">
          <mat-label>Nome</mat-label>
          <input matInput [(ngModel)]="aluno.nome" name="nome" required>
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Matrícula</mat-label>
          <input matInput [(ngModel)]="aluno.matricula" name="matricula" required>
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>CPF</mat-label>
          <input matInput [(ngModel)]="aluno.cpf" name="cpf" required>
        </mat-form-field>
  
        <mat-card-content>
          <h3>Selecione os Cursos</h3>
          <div *ngFor="let curso of cursos">
            <mat-checkbox [(ngModel)]="curso.selected" name="curso-{{curso.id}}">{{ curso.nome }}</mat-checkbox>
          </div>
        </mat-card-content>
  
        <button mat-raised-button color="primary" (click)="atualizarAluno()">Salvar</button>
        <button mat-button (click)="voltar()">Cancelar</button>
      </form>
    </mat-card-content>
  </mat-card>
  