<mat-card>
  <mat-card-title>Incluir Novo Aluno</mat-card-title>
  <mat-card-content>
    <form #form="ngForm" (ngSubmit)="incluirAluno()">
      <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput [(ngModel)]="aluno.nome" name="nome" required>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Matrícula</mat-label>
        <input matInput [(ngModel)]="aluno.matricula" name="matricula" required>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>CPF</mat-label>
        <input matInput [(ngModel)]="aluno.cpf" name="cpf" required>
      </mat-form-field>

      <mat-checkbox [(ngModel)]="aluno.ativo" name="ativo">Ativo</mat-checkbox>

      <!-- <mat-form-field appearance="fill">
        <mat-label>IDs dos Cursos</mat-label>
        <mat-select multiple [(ngModel)]="aluno.cursosIds" name="cursosIds">
          <mat-option *ngFor="let curso of cursos" [value]="curso.id">{{ curso.nome }}</mat-option>
        </mat-select>
      </mat-form-field> -->
      <mat-card-content>
        <h3>Selecione os Cursos</h3>
        <div *ngFor="let curso of cursos">
          <mat-checkbox [(ngModel)]="curso.selected" [name]="'curso-' + curso.id">{{ curso.nome }}</mat-checkbox>
        </div>
      </mat-card-content>
      <div class="button-container">
        <!-- <button mat-raised-button color="primary" (click)="incluirAluno()">Salvar</button> -->
        <button mat-raised-button color="primary" type="submit">Salvar</button>
        <button mat-raised-button color="warn" (click)="voltar()">Cancelar</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>